.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  color: #111827;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: #1e3b8a;
}

p, td, label {
  font-weight: 400;
  color: #6B7280;
}


.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.error {
  color: red;
  font-weight: bold;
}

.footer {
  position: sticky;
  bottom: 0;
  background: #111;
  color: white;
}
